.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
}

.square.winning {
    background: #90ee90;
    color: black;
}